main {
  display: block;
  margin: 0 auto;
  max-width: 1656px;
  padding: 80px 72px 24px;
  width: 100%;
}

.submitReview__root {
  margin: 0 auto;
  max-width: 1656px;
  overflow-x: hidden;
  width: 100%;
}

.submitReview__header {
  padding-top: 28px;
  text-align: center;
}

.submitReview__subtitle {
  font-size: 16px;
  text-align: center;
}

.submitReview__title {
  font-size: 36px;
  letter-spacing: -1.52px;
  line-height: 1.2;
  margin-bottom: 16px;
  text-decoration: none;
}

.submitReview__productImages {
  display: flex;
  gap: 2px;
  justify-content: center;
}

.imageWrap {
  display: flex;
  flex-basis: 25%;
  background: #f1f1f1;
}

.imageWrap img {
  display: block;
  height: auto;
  width: 100%;
  aspect-ratio: 900 / 1200;
  max-width: 100%;
}

.submitReview__fieldset {
  max-width: 840px;
  border: none;
  margin: 0 0 24px;
  padding: 0;
}

.submitReview__legend {
  float: left;
  font-size: 24px;
  letter-spacing: -1.52px;
  margin-bottom: 18px;
  margin-top: 40px;
  width: 100%;
}

.submitReview__required {
  color: #737373;
    display: block;
    font-size: 13px;
    letter-spacing: -.65px;
    margin-bottom: 16px;
}

.submitReview__fieldgroups {
  display: flex;
  gap: 30px;
  align-items: flex-end;
  margin-bottom: 36px;
}

.submitReview__fieldtext {
  display: flex;
    flex: 1 1;
    flex-direction: column;
}

.submitReview__fieldhalf {
  width: 50%;
}

.submitReview__fieldgroups label, .submitReview__fieldtext label {
  display: flex;
  font-size: 13px;
  letter-spacing: -.65px;
  margin-bottom: 6px;
}

.submitReview__fieldgroups select, .submitReview__fieldgroups input {
  align-items: center;
  background: transparent;
  border: 1px solid #d2d2d2;
  border-radius: 2px;
  display: flex;
  font-family: inherit;
  font-size: 13px;
  height: 48px;
  justify-content: space-between;
  padding: 0 0 0 12px;
  text-align: left;
  width: 100%;
}

.submitReview__fieldtext textarea {
  border: 1px solid #d2d2d2;
  font-size: 13px;
  padding-left: 20px;
  padding-top: 12px;
  resize: none;
  font-family: inherit;
}

.submitReview__tips {
  margin-bottom: 24px;
  margin-top: 5px;
}

.submitReview__tips-labels {
  display: flex;
  font-size: 13px;
  justify-content: space-between;
  margin-bottom: 12px;
}

.italicize {
  color: #737373;
}

.submitReview__tips ul {
  font-size: 12px;
  list-style-type: none;
  margin: 0;
  padding-left: 20px;
}

.submitReview__tips li {
  margin-bottom: 2px;
}

.submitReview__tips li::before {
  content: ".";
  margin-left: -20px;
  margin-right: 10px;
}

.centered {
  text-align: center;
}

.submitReview__fieldset button {
  margin-bottom: 28px;
  margin-top: 26px;
  width: 180px;
  border-radius: 24px;
  height: 48px;
  line-height: 48px;
  padding: 0 36px;
  background: var(--color-primary);
  border: 0;
  color: var(--color-secondary);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  position: relative;
  text-decoration: none;
  transition: background .2s ease-in-out,color .2s ease-in-out;
  white-space: nowrap;
}

.submitReview__fieldset button:hover {
  background: var(--brand-blue);
}


@media (max-width: 769px) {
  main {
    padding: 50px 15px 24px;
  }

  .imageWrap {
    flex-basis: calc(50% - 1px);
  }

  .imageWrap:nth-of-type(1n+3) {
    display: none;
  }
}