.announcement-bar-container {
  background: #F7F7F7;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem .25rem;
}

.announcement-bar-container p,
.announcement-bar-container a {
  color: var(--color-primary);
  /* line-height: 3rem; */
  font-size: 13px;
  height: 100%;
  letter-spacing: .1px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}