.announcement-bar-container {
  background: var(--brand-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem 1.5rem;
}

.announcement-bar-container p,
.announcement-bar-container a {
  color: var(--color-secondary);
  line-height: 3rem;
  font-size: 13px;
  height: 100%;
  letter-spacing: .1px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}