.page-header {
  position: fixed;
  /* top: calc(1 * (0.4rem + 3rem)); */
  left: 0;
  right: 0;
  z-index: 300;
  transition: all 0.1s ease-in;
}

.page-header.scrolled {
  top: 0;
}

.nav-container {
  background: var(--color-secondary);
  border-bottom: 1px solid var(--line-divider);
  height: 54px;
  z-index: 300;
}

.nav-container nav {
  max-width: 1250px;
  height: 100%;
  margin: 0 auto;
  padding: 0 8px;
}

nav .desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

nav .desktop-nav li a {
  color: #555;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 400;
  transition: opacity 200ms;
}

nav .desktop-nav li a:hover {
  opacity: 1;
  color: var(--brand-blue);
  text-decoration: underline;
}

.link-logo {
  background: url('/public/logo.png');
  display: block;
  background-position: center;
  height: 54px;
  width: 140px;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 850px) {
    width: 160px;
  }
}

.link-bag {
  background: url('/public/bag-icon-black.svg');
  display: block;
  background-position: center;
  background-size: 17px;
  height: 44px;
  width: 20px;
  background-repeat: no-repeat;
  position: relative;
}

.desktop-nav li {
  transition: all 200ms;
}

.mobile-nav, .navLogout {
  display: none;
}

.account__user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account__user .span {
  font-size: inherit;
  font-weight: 400;
}


/* media queries */
@media (max-width: 1100px) {
  .nav-container nav {
    width: 100%;
  }
}

nav .menu-icon-container {
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 768px) {
  .nav-container .desktop-nav {
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0vh;
    background: var(--color-secondary);
    justify-content: start;
    overflow: hidden;
    z-index: -1;
    transition: all 200ms ease;
  }

  .nav-container.active .desktop-nav {
    height: 100vh;
    padding-top: 8rem;
  }

  .nav-container .desktop-nav li {
    width: 100%;
    padding: 10px 32px;
  }

  .nav-container .desktop-nav li:nth-of-type(1n+3) {
    border-top: 1px solid rgba(204,211,218,.5);
  }

  .nav-container .desktop-nav .link-logo,
  .nav-container .desktop-nav .link-bag {
    display: none;
  }

  .nav-container .desktop-nav li a {
    color: var(--color-primary);
    padding: 5px 0;
    display: inline-block;
    width: 100%;
    font-size: 2.1rem;
    font-weight: 700;
    transform: translateY(-80px);
    opacity: 0;
    transition: all 200ms ease;
    text-decoration: none;
  }

  .nav-container.active .desktop-nav li a {
    transform: translateY(0);
    opacity: 1;
  }

  /* mobile nav */
  nav .mobile-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none;
  }

  nav .menu-icon-container {
    width: 20px;
    height: 44px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  nav .menu-icon {
    position: relative;
    width: 100%;
  }

  nav .menu-icon .line-1,
  nav .menu-icon .line-2 {
    position: absolute;
    height: 1px;
    width: 100%;
    background: var(--color-primary);
    transition-property: transform, top;
    transition-delay: 0ms, 160ms;
    -o-transition-duration: 200ms;
    transition-duration: 200ms;
  }

  nav .menu-icon .line-1 {
    top: -4px;
  }

  nav .menu-icon .line-2 {
    top: 4px;
  }

  .nav-container.active nav .menu-icon-container .menu-icon .line-1 {
    top: 0;
    transform: rotateZ(45deg);
    transition-property: top, transform;
    transition-delay: 0ms, 160ms;
    -o-transition-duration: 200ms;
    transition-duration: 200ms;
  }

  .nav-container.active nav .menu-icon-container .menu-icon .line-2 {
    top: 0;
    transform: rotateZ(-45deg);
    transition-property: top, transform;
    transition-delay: 0ms, 160ms;
    -o-transition-duration: 200ms;
    transition-duration: 200ms;
  }

  .navLogout {
    display: block;
    background: transparent;
    border: 3px solid var(--color-primary);
    color: var(--color-primary);
    border-radius: 24px;
    height: 48px;
    padding: 0 36px;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    position: relative;
  }

  .navLogout:hover {
    background: var(--color-primary);
    color: var(--color-secondary);
  }
}

.bag-icon {
  color: var(--color-primary);
  font-size: 10px;
  font-weight: 700;
  min-width: 1rem;
  padding: 1px 5px;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  top: 33%;
  left: 0;
  right: 0;
}

#sale-link {
  color: #EE4A7C;
}