.newproduct {
  margin: 8rem 0;
}

.container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.two-flex {
  justify-content: space-between;
  gap: 4rem;
}

.flex-1 {
  flex: 1;
}

.mainbody {
  flex: 4;
  padding-left: 3rem;
  padding-top: 0;
}

.mainbody-header .span {
  font-size: 1.2rem;
  max-width: 75%;
  margin: 2rem 0 4rem;
  color: #333;
}

.npi-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2rem 0;
}

.npi-div label {
  font-weight: 600;
}

.npi-div label,
.npi-div span {
  padding: 1rem 0;
}

.npi-div span {
  font-size: 11px;
  color: #333;
}

.npi-div-input, 
.npi-div select {
  padding: 1.5rem;
  border: 1px solid var(--color-primary);
  border-radius: .5rem;
  font-family: inherit;
}

.tox-tinymce {
  border: 1px solid var(--color-primary) !important;
  border-radius: .5rem !important;
  font-family: inherit !important;
}

.npi-div-input:focus,
.npi-div select:focus {
  outline-color: var(--brand-blue);
}

.flex-split {
  width: 50%;
}

.gap-2 {
  gap: 2rem;
}

.tags-input {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 1.5rem;
  border: 1px solid var(--color-primary);
  border-radius: .5rem;
  font-family: inherit;
}

.tags-input input {
  border: none;
  outline: none;
  font-family: inherit;
}

.tag {
	width: auto;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
  gap: .25rem;
	padding: 8px;
	font-size: 14px;
	list-style: none;
	border-radius: 6px;
	margin: 0 3px 3px 0;
	background: var(--brand-blue);
  word-break: break-all;
}

.tag span {
  color: #fff;
  font-size: 1.4rem;
}

.addProductForm button {
  background: var(--color-primary);
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-family: inherit;
  padding: 0 24px;
  position: relative;
  transition: background .2s ease-in-out,color .2s ease-in-out;
  white-space: nowrap;
  border-radius: 24px;
  height: 40px;

  @media (max-width: 769px) {
    margin-top: 1rem;
  }
}

.addProductForm button:hover {
  background: var(--brand-blue);
}

.tox-statusbar__branding {
  visibility: hidden !important;
}