.actions-ellipsis {
  background: #fff;
  border: 1px solid var(--line-divider);
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
}

.drop-menu {
  position: absolute;
  display: none;
  background: #fff;
  box-shadow: #0000001a 0 0 35px;
  list-style-type: none;
  padding: 2rem 0;
  border-radius: .5rem;
}

.drop:hover .drop-menu {
  display: block;
}

.drop-menu li {
  padding: 1rem 3rem;
  font-family: "Market Sans", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
}

.drop-menu li:hover {
  background-color: #FBFBFC;
}

.drop-menu li:hover a {
  color: var(--brand-blue);
}

.drop-menu li button {
  outline: none;
  border: none;
  background: none;
  font-family: inherit;
  font-weight: 600;
  font-size: inherit;
}

.drop-menu li:hover button {
  color: var(--color-danger);
}

.status-div {
  padding: 0.5rem;
  border: 1px solid #d9dbe4;
  border-radius: 5px;
  width: 100%;
}

.status-icon--pending {
  color: #b7b9c3;
}

.status-icon--canceled {
  color: var(--color-danger);
}

.status-icon--sent {
  color: var(--brand-blue);
}

.pending-span {
  color: #b7b9c3;
}

.canceled-span {
  color: var(--color-danger);
}

.search__holder-admin {
  background: #FBFBFC;
  padding: 1.5rem;
  border-radius: 1rem;
}

form .search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__input {
  font-family: inherit;
  background: #fff;
  border: 1px solid var(--line-divider);
  padding: 1.5rem;
  border-radius: 1rem;
  width: 90%;
  transition: all 0.2s;
}

.search__input:focus {
  outline: none;
  width: 100%;
}

.search__input::-webkit-input-placeholder {
  font-weight: 400;
  color: #333;
}

.tabs-container {
  margin-bottom: 10px;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  font-family: sans-serif;
}

.tabs__label {
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  font-family: "Market Sans", sans-serif;
}

.tabs__label:not(:first-of-type) {
  padding-left: 16px;
  padding-right: 16px;
}

.tabs__radio {
  display: none;
}

.tabs__radio:checked+.tabs__label {
  font-weight: bold;
  color: var(--brand-blue);
  border-bottom: 2px solid var(--brand-blue);
}