.sidebar {
  flex: 1;
  height: calc(100vh);
  border-right: 1px solid var(--line-divider);
  position: sticky;
  top: 50px;
  padding: 3rem 0;
}

.sidebar ul {
  margin-left: 0.5rem;
}

.sidebar ul li {
  font-size: 1.5rem;
  margin: 1rem 0;
  color: #333;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.sidebar ul li:hover {
  background: #f7f7f7;
  border-radius: 5px;
  color: var(--brand-blue);
}
